*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Licorice', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- slider-start ---- */


.slider{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 57px;
    display: flex;
}
.slider-text{
    width:582px;
    height:284px ;
    display: flex;
    flex-direction: column;
    padding:50px 20px;
    margin-top: 70px;
}
.slider-text h1{
    font-size: 45px;
    font-weight: 900;
    color:black;
    margin-top: 20px;
}
.slider-text p{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    color:#3A3A3A;
    text-align: justify;
}
.slider-text button{
    align-items: center;
    width: 198px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: #6677b8;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}
.slider-text button:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

.slider-text button .fas.fa-arrow-right {
    padding-left: 5px;
    padding-top: 2px;
}
.slider-img img{
    width:440px;
    height: 414px;
    padding:2px 30px 33px 31px;
    margin-top: 50px;
}
.slider-img:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
.slider-img{
    height: 475px;
    width: 475px;
   background: url(images/Circle-design.svg);
   margin-top: 50px;
   background-repeat: no-repeat;
}

/* ---- slider-end ---- */

/* ---- logo-section-start ---- */

.logos-container{
    margin-top: 22px;
    display: flex;
    align-items: center;
    padding: 20px 49px;
    width: 1110px;
    height: 94px;
    box-shadow: 0px 4px 7px 0px #cecccc;
 }
 .logos{
     display:grid;
     grid-template-columns: repeat(7, 1fr);
     grid-column-gap: 61px;
 }
 .logos img{
     width: 99.12px;
 height: 39.61px;
 cursor: pointer;
 }
 .logos img:hover{
     transform: scale(1.1);
     transition: transform 1s ease-in-out;
 
 }

 /* ---- logo-section-end ---- */


/* populer-colection-start*/

.populer-collection{
   
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 35px;
    padding:0 50px;
}
.product:hover .product-img{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
.populer-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Poppins;
    font-weight: 600;
    font-size: 28px;
    color:#3A3A3A;
    padding:50px 0
}
.populer-container button{
   
    
    width: 198px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #e40c0c;
    background-color: white;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.populer-container button .fas.fa-arrow-right {
    padding-left: 5px;
    padding-top: 2px;
}
.product{
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 307px;
    height: 479px;
    background: white;
    box-shadow: 1px 9px 16px 9px gainsboro;
    border-radius: 5px;
    margin-bottom:25px;
    overflow: hidden;
}
.product-img{
    width: 283px;
    height: 256px;
    padding-bottom: -6px;
}
.product-info{
    margin-top: 20px;
}
.product-info h4{
    color:#18191F;
    font-size: 18px;
    margin-top:15px ;
}

}
.star{
    display: flex;
    margin-bottom:8px;
   

}
.star i{
    font:12px;
    color:gold;
    margin-right: 2px;
    margin-top: 15px;
}
.star span{
    font-size: 14px;
    color:#5E6366;
    font-weight: bold;
}
.product-info p{
    font-size: 15px;
    color:#5E6366;
    font-weight: bolod;
    font-family: Roboto;
    margin-top: 15px;
}


/* ---- populer-colection-end ----*/

/* ---- contact-form-start ---- */

.contuct-form{
    width:340px;
    height: 400px;
    border:none;
    box-shadow: 0px 15px 14px 0px #3a3d4c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.contuct-form h2{
    margin-bottom: 20px;
}
.contuct-form button{
    width: 300px;
    height: 33px;
    border:none;
    margin-bottom: 36px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px 1px #6677b8;
    font-family: Roboto;
    font-weight: bold;
    padding-left: 11px;
}
.contuct{
    width:100%;
    height: 500px;
    background-image: linear-gradient(to right, #2b49babf , #16818c9e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.contuct-form .text-area{
    width:300px;
    height: 70px;
}
.contuct-form button{
    background-color: #1a2a6e;
    color:white;
    font-size: 15px;
    height: 35px;
    font-family: Roboto;
    padding: 8px 8px;
    cursor: pointer;
}

.textarea {
    height: 76px;
    border-radius: 5px;
    width: 300px;
    
    border:none;
    margin-bottom: 36px;
    
    box-shadow: 1px 1px 12px 1px #6677b8;
    font-family: Roboto;
    font-weight: bold;
    padding-left: 11px;
   
}
.input-button{
    width: 300px;
    height: 33px;
    border:none;
    margin-bottom: 36px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px 1px #6677b8;
    font-family: Roboto;
    font-weight: bold;
    padding-left: 11px;
    cursor: text;
}
.see-more:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    cursor: pointer;

}

/* ----- contact-form-end ---- */

/* ---- Footer-section-start ---- */

footer{
    width:100%;
    height:150px;
    background: #0A0826;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-size: 19px;
    color:white;
    padding-bottom:8px;
}
footer p{
    font-size: 13px;
    color:white;
    position: absolute;
}
footer span {
    font-size: 12px;
    color: white;
    padding-bottom: 15px;
}
footer .icons{
    display: flex;
    width:200px;
    height: 18px;
    text-align: center;
    justify-content: center;
}
footer .icons i{
    font-size: 23px;
    padding-right: 11px;
    cursor: pointer;
} 

/* ---- Footer-section-end ---- */